$def with(session, info)
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>4DKSindex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="static/src/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/src/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/src/img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/src/img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/src/img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="static/src/img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="static/src/img/favicon.ico" type="image/x-icon" >
  
	<script type="text/javascript" src="static/src/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/src/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/src/js/scripts.js"></script>
</head>
<style>
	div#searchbox
			{
				position:relative
				right:0px;
				left:0px;
				margin-top:20px;
				margin-left:auto;
				margin-right:auto;
				<!--width:900px;-->
			}
	div#but
			{
				position:relative
				right:0px;
				left:0px;
				margin-top:180px;
				margin-left:auto;
				margin-right:auto;
				<!--width:900px;-->
			}
	div#logo
			{
				position:relative
				right:0px;
				left:0px;
				margin-top:10px;
				margin-left:auto;
				margin-right:auto;
				<!--width:900px;-->
			}
	div#yuecai
			{
				position:relative
				right:0px;
				left:0px;
				margin-top:0px;
				margin-left:auto;
				margin-right:auto;
			}
	div#likeit
			{
				position:relative
				right:0px;
				left:0px;
				margin-top:0px;
				margin-left:auto;
				margin-right:auto;
			}
	div#about
			{
				position:relative
				right:auto;
				left:500px;
				margin-top:0px;
				margin-left:450px;
				margin-right:auto;
			}
	p#shangchuan
			{
			margin-left:220px;
			margin-right:auto;
			}
		.link1
			{
			color:#FF0000;
			}
</style>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-8594">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-8594">
					</li>
					<li data-slide-to="1" data-target="#carousel-8594">
					</li>
					<li data-slide-to="2" data-target="#carousel-8594">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<a href = "http://baike.baidu.com/view/63800.htm"><img alt="" src="static/src/img/2.jpg"></a>
						<div class="carousel-caption">
							<h4>
								吃牛排的礼仪
							</h4>
							<p>
								牛排作为一种高档的美食，现在也越来越普及。那么，古代西方贵族享用牛排的礼仪你知道多少呢？下面就由小编带你了解一下吃牛排的礼仪……
							</p>
						</div>
					</div>
					<div class="item">
						<a href = "http://www.meishij.net/changshi/jiankangchishaokaozhuyi4dianhenzhongyao.html"><img alt="" src="static/src/img/5.jpg"></a>
						<div class="carousel-caption">
							<h4>
								健康吃烧烤
							</h4>
							<p>
								烧烤又便捷，又好吃，还能享受到DIY的乐趣，是现在许多年青人的最爱。那么，如何健康吃烧烤呢？就让小编告诉你……
							</p>
						</div>
					</div>
					<div class="item">
						<a href = "http://www.meishij.net/jinji/zhuyixiaolongxiachicuoyizhongdu.html"><img alt="" src="static/src/img/6.jpg">
						<div class="carousel-caption">
							<h4>
								注意:小龙虾吃错易中毒
							</h4>
							<p>
								香辣小龙虾，是许多人的最爱！但也有很多人担心小龙虾的卫生问题，吃小龙虾又要注意什么呢？小编有话要说……
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-8594" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-8594" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<div class="modal fade" id="modal-container-75116" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								登陆
							</h4>
						</div>
						<div class="modal-body">
							<form action="/indexpic" class="form-horizontal" method="POST" role="form">
								<div class="form-group">
									<label for="inputUsername1" class="col-sm-2 control-label">用户名</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="inputUsername1">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword1" class="col-sm-2 control-label">密码</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" name="inputPassword1">
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default">登陆</button>
						</div>
							</form>
					</div>
					
				</div>
				
			</div>
			<div class="modal fade" id="modal-container-75117" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								注册
							</h4>
						</div>
						<div class="modal-body">
							<form action="/indexpic" class="form-horizontal" method="POST" role="form">
								<div class="form-group">
									<label for="inputUsername2" class="col-sm-2 control-label">用户名</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="inputUsername2">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword2" class="col-sm-2 control-label">密码</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" name="inputPassword2">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-2 control-label">确认密码</label>
									<div class="col-sm-10">
										<input type="password" class="form-control" name="inputPassword3">
									</div>
								</div>
						<div class="modal-footer">
							 <button type="submit" class="btn btn-default">确认注册</button>
						</div>
							</form>
						</div>
					</div>
					
				</div>
				
			</div>
			<div class="modal fade" id="modal-container-75118" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title" id="myModalLabel">
								退出登录
							</h4>
						</div>
						<div class="modal-body">
							<form action="/indexpic" class="form-horizontal" method="POST" role="form">
								确定要退出吗？
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default">确定</button>
						</div>
							</form>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-2 column">
			<div class="row clearfix">
				<div class="col-md-6 column" id = "logo">
					<a href = "index"><img alt="160x160" src="static/src/img/160.png"></a>
				</div>
				<div class="col-md-6 column">
				</div>
			</div>
		</div>
		<!--<div class="col-md-10 column" id = "searchbox">-->
			<form method="POST" enctype="multipart/form-data" action="/s">
				<div class="col-md-8 column" id = "searchbox">
						<ul class="breadcrumb">
							$if (session.username==''):
								<p>$info</p>
										<li>
											<a id="modal-75116" href="#modal-container-75116" role="button" class="btn" data-toggle="modal">登陆</a>  
											<span class="divider"></span>
										</li>
										<li>
											<a id="modal-75117" href="#modal-container-75117" role="button" class="btn" data-toggle="modal">注册</a>
										</li>
							$else:
								<p>$session.username</p>
								<p>$info</p>
										<li>
											<a id="modal-75117" href="#modal-container-75117" role="button" class="btn" data-toggle="modal">注册</a>
											<span class="divider"></span>
										</li>
										<li>
											<a href="pchome" role="button" class="btn">个人主页</a>
											<span class="divider"></span>
										</li>
										<li>
											<a id="modal-75118" href="#modal-container-75118" role="button" class="btn" data-toggle="modal">退出登录</a>
										</li>
						</ul>
						<br />
						<br />
						<font size="5" face = "幼圆"><p id = "upload">
						<input type="file" name="myfile" /></font></p>
						<font size="5" face = "幼圆">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="index">用文本搜索的话点这里哟！>o<  !</a><p></font>
				</div>
				<div class="col-md-2 column" id = "but">
						<button type="submit" class="btn"><font size = "5">4DKS</font></button>
				</div></p>
			</form>

		<!--</div>-->
	</div>
	<div>
	<hr style="border:3px double #5A5AAD" width="100%" size="3" />
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<table class="table">
			
				<tbody>
					<tr>
						<td>
							<div id = "yuecai">
								<p> <font face = "幼圆"><font size = "4"> <a href = "/s?adr=&cmd=川菜">川菜</a></input></font>
								<a href = "http://www.dianping.com/shop/504979"><img alt="140x140" src="static/src/img/chuancai1.jpg"></a>
								<a href = "http://www.dianping.com/shop/5867826"><img alt="140x140" src="static/src/img/chuancai2.jpg"></a>	</p>
								<p><font size = "4">&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=夫妻肺片">夫妻肺片</a>    <a href ="/s?adr=&cmd=麻婆豆腐">麻婆豆腐</a>     <a href ="/s?adr=&cmd=水煮鱼">水煮鱼</a></p>
								<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=宫保鸡丁">宫保鸡丁</a>    <a href ="/s?adr=&cmd=鱼香肉丝">鱼香肉丝</a>     <a href ="/s?adr=&cmd=担担面">担担面</a></font></p>
							</div>
						</td>
						<td>
							<div id = "yuecai">
								<p><font face = "幼圆"> <font size = "4"> <a href ="/s?adr=&cmd=宫保鸡丁">粤菜</a></font>
								<a href="http://www.ddmap.com/map/21/point-346356-%BA%A3%C5%B8-.htm"><img alt="140x140" src="static/src/img/yuecai1.jpg"></a>
								<a href="http://www.ddmap.com/map/21/point-789666-%B4%F3%BF%C9-.htm"><img alt="140x140" src="static/src/img/yuecai2.jpg"></a></p>
								<p><font size = "4">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=广州文昌鸡">广州文昌鸡</a>    <a href ="/s?adr=&cmd=广式烧鸭">广式烧鸭</a>     <a href ="/s?adr=&cmd=白切鸡">白切鸡</a></p>
								<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=牛肉丸">牛肉丸</a>  &nbsp&nbsp&nbsp   <a href ="/s?adr=&cmd=叉烧">叉烧</a>         &nbsp&nbsp&nbsp&nbsp<a href ="/s?adr=&cmd=蚝油牛肉">蚝油牛肉</a></font></p>
							</div>
						</td>
					</tr>
					<tr class="active">
						<td>
							<div id = "yuecai">
								<p> <font face = "幼圆"><font size = "4"> <a href ="/s?adr=&cmd=鲁菜">鲁菜</a>
								<a href="http://www.ddmap.com/map/21/point-433322-%C0%CF%C9%BD-.htm"><img alt="140x140" src="static/src/img/lucai1.jpg"></a>
								<a href="http://www.ddmap.com/map/21/point-54416-%C9%BD%B6%AB-.htm"><img alt="140x140" src="static/src/img/lucai2.jpg"></a></p>
								<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=葱爆牛肉">葱爆牛肉</a>    <a href ="/s?adr=&cmd=黄焖鸡米饭">黄焖鸡米饭</a>     <a href ="/s?adr=&cmd=糖醋鲤鱼">糖醋鲤鱼</a></p>
								<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=烤鱼">烤鱼</a>  &nbsp&nbsp&nbsp  <a href ="/s?adr=&cmd=酱排骨">酱排骨</a>   &nbsp&nbsp&nbsp  <a href ="/s?adr=&cmd=九转大肠">九转大肠</a></font></p>
							</div>
						</td>
						<td>
							<div id = "yuecai">
								<p> <font face = "幼圆"><font size = "4"> <a href ="/s?adr=&cmd=东北菜">东北菜</a>
								<a href="http://www.ddmap.com/map/21/point-681641-%C3%DC%D4%C6-.htm"><img alt="140x140" src="static/src/img/dongbeicai1.jpg"></a>
								<a href="http://www.ddmap.com/map/21/point-823683-%B6%AB%B1%B1-.htm"><img alt="140x140" src="static/src/img/dongbeicai2.jpg"></a></p>
								<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=锅包肉">锅包肉</a>  &nbsp  <a href ="/s?adr=&cmd=地三鲜">地三鲜</a>   &nbsp  <a href ="/s?adr=&cmd=小鸡炖蘑菇">小鸡炖蘑菇</a></p>
								<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href ="/s?adr=&cmd=拔丝地瓜">拔丝地瓜</a>    <a href ="/s?adr=&cmd=四喜丸子">四喜丸子</a>     <a href ="/s?adr=&cmd=红烧肘子">红烧肘子</a></font></p>
							</div>
						</td>
					</tr>

				</tbody>
				
			</table>
		</div>
		<div class="col-md-4 column">
			<table class="table">
				<thead>
					<font size = "4" face = "幼圆">猜您喜欢</font>
				</thead>
				<tbody>
					<tr>
						<td>
						<div id = "likeit">
									<a href = "$session.recommend[0][0]"><img alt="" width="120" height="120" src="$session.recommend[0][2]"></a>
							
									
							</div>
						</td>
						<td>
							<font size = "3" face = "幼圆"><a href = "$session.recommend[0][0]" class = "link1"><p>店名:$session.recommend[0][1]</p></a>
							<p>地址:$session.recommend[0][4]</p>
							<p>评分:$session.recommend[0][5] &nbsp/5</p></font>
						</td>
					</tr>
					<tr>
						<td>
						<div id = "likeit">
									<a href = "$session.recommend[1][0]"><img alt="" width="120" height="120" src="$session.recommend[1][2]"></a>
							
									
							</div>
						</td>
						<td>
							<font size = "3" face = "幼圆"><a href = "$session.recommend[1][0]" class = "link1"><p>店名:$session.recommend[1][1]</p></a>
							<p>地址:$session.recommend[1][4]</p>
							<p>评分:$session.recommend[1][5] &nbsp/5</p></font>
						</td>
					</tr>
					<tr>
						<td>
						<div id = "likeit">
									<a href = "$session.recommend[2][0]"><img alt="" width="120" height="120" src="$session.recommend[2][2]"></a>
							
									
							</div>
						</td>
						<td>
							<font size = "3" face = "幼圆"><a href = "$session.recommend[2][0]" class = "link1"><p>店名:$session.recommend[2][1]</p></a>
							<p>地址:$session.recommend[2][4]</p>
							<p>评分:$session.recommend[2][5] &nbsp/5</p></font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div>
	<hr style="border:3px double #5A5AAD" width="100%" size="3" />
	</div>
	<div id = "about">
		<p><font face ="幼圆" size = "5">*<a href = "http://www.baidu.com/">联系我们</a>*<a href = "http://www.baidu.com/">关于我们</a>*</p></font>
	</div>
</div>
</body>
</html>
